@font-face {
    font-family: Futura;
    src: url(fonts/FuturaBookC.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Futura;
    src: url(../fonts/FuturaMediumC.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Futura;
    src: url(../fonts/FuturaDemiC.ttf);
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

section {
    width: 100%;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.10);
    padding: 50px;
}

section>section {
    padding: 0;
    background: none;
    box-shadow: none;
    border-radius: 0;
}

.container {
    max-width: 1200px;
    padding: 0;
}

.main {
    padding: 0 40px;
}


/* HEADER */
.header {
    background: #FFF;
    box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.10);
    padding: 30px 40px;
}

.header .hamburger {
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 15px;
    width: 60px;
}

.header .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 50%;
    background: #000;
}

.header .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__menu ul {
    display: flex;
    padding: 0;
    list-style: none;
    gap: 18px;
    margin: 0;
}

.header__menu li a {
    color: #000;
    font-family: Futura;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}

.header__menu li {
    display: flex;
    align-items: center;
}

.header__menu ul li.list::after {
    content: '';
    display: block;
    width: 10px;
    height: 6px;
    background-image: url(../img/icons/triangle.svg);
    background-repeat: no-repeat;
}

.header__btns {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.header__btn {
    border: none;
    background: none;
    padding: 0;
}

.header__btn_track {
    border-radius: 15px;
    background: #E6075E;
    color: #FFF;
    font-family: Futura;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    padding: 7px 11px;
    gap: 5px;
}

.header__btn_cart {
    position: relative;
}

.header__btn_cart span {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 33px;
    left: 19px;
    color: #FFF;
    font-family: Futura;
    font-size: 12px;
    font-weight: 500;
    z-index: 10;
    background: #E6075E;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}



.main {
    margin-top: 50px;
    margin-bottom: 50px;
}

.section_text {
    box-shadow: none;
    border-radius: 0;
    background: none;
    padding: 0;
}


section.title h1 {
    color: #000;
    font-family: Futura;
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 20px;
}

section.title p {
    color: #000;
    font-family: Arial;
    font-size: 20px;
    font-weight: 400;
}

section.title {
    padding-bottom: 40px;
}


section.search {
    background: #ED2974;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

section.search p {
    color: #FFF;
    font-family: Arial;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    display: flex;
    align-items: center;
}

.search__form {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    flex-grow: 1;
}

.search__form input {
    border-radius: 15px;
    background: #FFF;
    padding: 14px 14px 15px 57px;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    flex-grow: 1;
    outline: none;
}

.search__form input::placeholder {
    color: #BCBCBC;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.search__form img {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 26px;
    top: 50%;
}

.search__form button {
    width: 200px;
    padding: 14px 0 15px;
    text-align: center;
    border-radius: 15px;
    background: #6F58A1;
    border: none;
    color: #FFF;
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.order {
    margin-top: 50px;
    padding: 0;
}

.order__meta {
    display: flex;
    gap: 40px;
    padding: 50px;
}

.meta__col {
    color: #000;
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.meta__col_type {
    color: #BCBCBC;
}

.order__status {
    padding: 50px;
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
}

.order h3 {
    color: #000;
    font-family: Futura;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 30px;
}

.status__bar {
    position: relative;
}

.status__line {
    display: flex;
    justify-content: space-between;
    padding: 0 22px;
}

.status__line>div {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    align-items: center;
}

.status__line .line {
    background: #bcbcbc;
    flex-grow: 1;
    width: 100%;
    height: 2px;
    z-index: 6;
}

.status__line>div.active .line {
    background: #ED2974;
}

.status__points {
    display: flex;
    justify-content: space-between;
    padding: 0 6px;
}

.status__points div:nth-child(2) {
    transform: translateX(40%);
}

.status__points div:nth-child(3) {
    transform: translateX(80%);
}

.status__points div:nth-child(4) {
    transform: translateX(26%);
}

.status__points div:nth-child(5) {
    transform: translateX(15%);
}

.status__line span {
    display: block;
    width: 30px;
    height: 30px;
    background: #bcbcbc;
    border-radius: 50%;
    margin: 11px 0 9px;
    aspect-ratio: 1;
}

.status__line>div.active span,
.status__line span:nth-child(1) {
    background: #ED2974;
}

.status__title {
    color: #bcbcbc;
    font-family: Futura;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.status__title_active {
    color: #ED2974;
}

.order__details {
    padding: 50px 0;
}

.order__details h3 {
    padding-left: 50px;
}

.details__table {
    color: #000;
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: grid;
    grid-template-columns: 2fr 6fr 1fr 1fr;
}

.table__col img {
    width: 120px;
    height: 120px;
}

.table__col {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding-left: 10px;
}

.item__img {
    padding-left: 50px;
}

.table__col_header {
    background: #F6F6F6;
    padding: 14px 0 13px 10px;
    margin: 0 0 20px;
}

.item__count,
.item__price {
    text-align: right;
    width: max-content;
}

.item__price,
.table__info {
    margin-right: 50px;
}

.table__info_line {
    width: 100%;
    height: 1px;
    background: #bcbcbc;
    margin-bottom: 20px;
}

.table__info {
    grid-column: 2/5;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

.table__info>div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.table__info .bold {
    color: #000;
    text-align: right;
    font-weight: 700;
}

.table__info .total {
    font-size: 22px;
    font-weight: 700;
    margin-top: 20px;
}


.info {
    margin-top: 50px;
}

.info span {
    color: #000;
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info .bold {
    font-weight: 700;
}

.info__list-item {
    display: flex;
    gap: 20px;
}

.info__list {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

.info h3 {
    margin-bottom: 20px;
}

@media (max-width: 1190px) {
    .header__menu ul a {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .header .hamburger {
        display: flex;
    }
}